#Server configuration
PORT=5000
BASE_URL=http://localhost:5000

#Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=barbershop_db
DB_USER=root
DB_PASS=your-password

# JWT Access Token
JWT_SECRET=your-secret
JWT_EXPIRES_IN=15m

# JWT Refresh Token
JWT_REFRESH_SECRET=your-ref
JWT_REFRESH_EXPIRES_IN=7d

# Email Verification
EMAIL_VERIFICATION_SECRET=your-verif
EMAIL_VERIFICATION_EXPIRES_IN=1d

# Reset Password
RESET_PASSWORD_EXPIRES_IN=15m

# Mail Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM=your_email@gmail.com